# Required VARS
#   - rails_app_sub_dirs
#   - rails_app_base_path
#   - rails_app_syslog_path
#
---
- include: _system.yml
  when: rails_app_first_run and rails_app_strategy == 'setup'

- name: create application directories
  file: >
    state=directory
    path="{{ rails_app_base_path }}/{{ item.dir }}"
  with_items: rails_app_sub_dirs
  when: item.src is not defined and rails_app_strategy != 'rollback'

- name: create symlinks
  file: >
    state=link
    src="{{ item.src }}"
    dest="{{ rails_app_base_path }}/{{ item.dir }}"
    force=yes
  with_items: rails_app_sub_dirs
  when: item.src is defined and rails_app_first_run and rails_app_strategy == 'setup'

- name: create symlinks to syslog logs
  file: >
    state=link
    src="{{ item }}"
    dest="{{ rails_app_syslog_path }}"
    force=yes
  with_items: rails_app_logs
  when: rails_app_first_run and rails_app_strategy == 'setup'
