if $programname == '{{ rails_app_name }}' then -{{ rails_app_log_all }}

if $programname == '{{ rails_app_name }}' and $syslogseverity == '6' then -{{ rails_app_log_info }}
& ~

if $programname == '{{ rails_app_name }}' and $syslogseverity <= '5' then {{ rails_app_log_notice }}
