{{ rails_app_log_info }} {
  daily
  missingok
  rotate 7
  compress
  delaycompress
  notifempty
  copytruncate
}

{{ rails_app_log_error }} {
  daily
  missingok
  rotate 7
  compress
  delaycompress
  notifempty
  copytruncate
}
